<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        {% for product in products %}
            <li>{{ product.name }}</li>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Productname: {{ product.Productname }}</h5>
                        <p class="card-text">Productprice: {{ product.Productprice }}</p>
                        <p class="card-text">tilte: {{ product.title }}</p>
                        <img src="{{ product.img }}" class="card-img-top" alt="{{ product.name }}">
                        
                        <!-- Add Wishlist Button -->
                        <form method="post" action="{% url 'addwishlist' product.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info">Add to Wishlist</button>
                        </form>
                      
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
</body>
</html>